<div class="header bg-gradient-danger pb-8 pt-5 pt-md-4">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--4">
    <!-- Tabla -->
    <div class="card shadow">
        <div class="row">
            <div class="col">
                <div class="row text-right">
                    <div class="col">
                        <button class="btn btn-danger m-4" routerLink="/usu-sistema">
                      <i class="fa fa-arrow-left"></i>
                      Regresar
                    </button>
                    </div>
                </div>
                <div class="card-header border-light">
                    <h3 class="mb-0">Perros de Usuario</h3>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card shadow">

                    <div class="table-responsive">
                        <table class="table mt-5 animated fadeIn faster animated fadeIn faster">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">ID de Perro</th>
                                    <th scope="col">Nombre del perro</th>
                                    <th scope="col">Edad </th>
                                    <th scope="col">Raza</th>
                                    <th scope="col">Comportamiento</th>
                                    <th scope="col">Padecimiento</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let perro of perros | paginate: {itemsPerPage: 10, currentPage: pageActual} | filter:filterPost ; let i = index ">
                                    <th scope="row">{{i + 1}}</th>
                                    <td>{{ perro.idPerro }}</td>
                                    <td>{{ perro.nombre }}</td>
                                    <td>{{ perro.edad }}</td>
                                    <td>{{ perro.raza }}</td>
                                    <td>{{ perro.comportamiento }}</td>
                                    <td>{{ perro.padecimiento }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination justify-content-end mb-0">
                            <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div *ngIf="cargando" class=" alert alert-info text-center mt-3 animated fadeIn faster">
            <h4 class="alert-heading">Cargando</h4>
            <p>
                <i class="fa fa-sync-alt fa-spin fa-2x"></i>
            </p>
            <p class="mb-0">
                Espere por favor
            </p>

        </div>
    </div>