<div class="header bg-gradient-danger pb-8 pt-5 pt-md-9">
    <div class="container-fluid">
        <div class="header-body">

        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--9">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <input type="text" class="form-control col-sm-3" name="filter" placeholder="Buscar..." [(ngModel)]="filterClaveib" (ngModelChange)="takeAction()">
            <br>
            <!-- <input type="text" class="form-control col-sm-3" name="filterRol" placeholder="Buscar por Fecha">
            <br> -->
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Ordenes de Pago de los Paseadores</h3>
                </div>
                <div class="table-responsive">
                    <table *ngIf="!cargando && Opaseadores.length > 0" class="table align-items-center table-flush animated fadeIn faster">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th class="col">UID</th>
                                <th scope="col">order_id</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Monto</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of Opaseadores | filterClaveib:filterClaveib| paginate: {itemsPerPage: 10, currentPage: pageActual};  let i = index ">
                                <th scope="row">{{i + 1}} </th>
                                <td> {{ usuario.uid }}</td>
                                <td> {{ usuario.order_id}} </td>
                                <td> {{ usuario.operation_date | date: 'h:mm:ss a z' }} </td>
                                <td> {{ usuario.amount | number:'1.0-2' }} </td>
                                <td>
                                    <div ngbDropdown placement="bottom-right">
                                        <a class="btn btn-sm btn-icon-only text-dark" ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                            <button [routerLink]="['/detalles-pas', usuario.uid, usuario.order_id]" class="dropdown-item">Detalles...</button>
                                            <!-- <button (click)="borrarUsuario( usuario, i )" class="dropdown-item">Eliminar</button> -->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div class="pagination justify-content-end mb-0">
                        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div *ngIf="!cargando && Opaseadores.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
        <h4 class="alert-heading">No hay registros</h4>
        <p>
            <i class="fa fa-exclamation fa-2x"></i>
        </p>
    </div>


    <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
        <h4 class="alert-heading">Cargando</h4>
        <p>
            <i class="fa fa-sync-alt fa-spin fa-2x"></i>
        </p>
        <p class="mb-0">
            Espere por favor
        </p>

    </div>